@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");

body{
    padding-top: 20px;
}


@media only screen and (min-width: 768px){
    .image img{
        display: none;
    }
    .ilovedart{
        margin-top: 10px;

        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .img{
        position: relative;
    }
    .image{
        background-image: url("./assets/images/bg.png");
    }
    .image img{
        position: absolute;
        bottom: -1;
        display: block;
        float: left;
        display: inline;
        width: 100%;
        margin: 0 auto;
    }
    .ilovedart{
        margin-top: 70px;

        text-align: center;
    }
    .hashtag{
        font-size: 12px;
    }
}


#content{
    font-family: "Quicksand", sans-serif;
}

#actived{
    color: rgb(255, 0, 0) !important;
}

a{
    color: #1780a0;
    text-decoration: none;
}

.link-colored{
    color: #1780a0;
    font-weight: bold;
}
.link-colored:hover{
    color: #1780a0;
}

.hashtag{
    color: #1780a0;
}

.none{
    display: none !important;
}
